<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
		<title><%= title %></title>
	</head>
	<body>
		<header>
			<div>
			<h1>Twitter</h1>
			<nav>
				<ul>
				  <li><a href = "/home">Home</a></li>
				  <li><a href = "/connect">Connect</a></li>
				  <li><a href = "/discover">Discover</a></li>
				  <li><a href = "/me">Me</a></li>
				</ul>
				<ul class="floatRight">
				  <li><a href = "/search">Search</a></li>
				  <li><a href = "#">Options</a>
					<ul>
						<li><a href = "/profile">Edit Profile</a></li>
						<li><a href = "/directMessage">Direct Messages</a></li>
						<li><a href = "/help">Help</a></li>
						<li><a href = "/settings">Account Settings</a></li>
						<li><a href = "/signout">Sign Out</a></li>
					</ul>
				  </li>
				  <li><a href = "/compose">Compose</a></li>
				</ul>
			</nav>
		</div>
		</header>
		<div id = "pageContainer">
		<aside>
			<ul>
				<li><a href = "/me">Tweets</a></li>
				<li><a href = "/following">Following</a></li>
				<li><a href = "/followers">Followers</a></li>
				<li><a href = "/favorites">Favorites</a></li>
				
			</ul>
		</aside>
		<div id = "avatar">
			<h1> <%=username%>'s Page</h1>
			<img src = "avatar.png" height = "300" width = "284">
		</div>
		<div id = "TwitterFeed">
			<h2><%=username%>'s Favorites</h2>
			<ul id = 'feed'>
			<%for(var i = 0; i< feed.length; i++){%>
				<li>
					<h3><%=feed[i][0]%></h3>
					<%=feed[i][1]%>
				</li>
				<%}%>
			</ul>
		</div>
		</div>
	</body>
</html>
