<!DOCTYPE html>
<html>
  <head>
  	<title><%= title %></title>
  	<script type="text/javascript" src="socket.io/socket.io.js"></script>
	<script type="text/javascript" src="javascripts/jquery-1.9.0.min.js"></script>
	<script type="text/javascript">
        $(function () {
			//creates socket variable on connection. Connects to server.
			var socket = io.connect();
			var id = <%=id%>;
			 socket.on('connect', function () {
				var info = new Array(id,"Find Friends");
				socket.emit('setUp',info);
				$('#follow').click( function() {
					var theirId = $('#follow').val();
					var data = new Array(id,theirId);
					socket.emit('follow',data);
				});
			});
		});
    </script>
  </head>
	<body>
		<header>
			<h1>Twitter</h1>
			<nav>
				<ul>
				  <li><a href = "/home">Home</a></li>
				  <li><a href = "/connect">Connect</a></li>
				  <li><a href = "/discover">Discover</a></li>
				  <li><a href = "/me">Me</a></li>
				  <li><a href = "/search">Search</a></li>
				  <li><a href = "#">Options</a>
					<ul>
						<li><a href = "/profile">Edit Profile</a></li>
						<li><a href = "/directMessage">Direct Messages</a></li>
						<li><a href = "/help">Help</a></li>
						<li><a href = "/settings">Account Settings</a></li>
						<li><a href = "/signout">Sign Out</a></li>
					</ul>
				  </li>
				  <li><a href = "/compose">Compose</a></li>
				</ul>
			</nav>
		</header>
		<aside>
			<ul>
				<li><a href = "/discover">Tweets</a></li>
				<li><a href = "/activity">Activity</a></li>
				<li><a href = "/findFriends">Find Friends</a></li>
				<li><a href = "/browseCategories">Browse Categories</a></li>
			</ul>
		</aside>
		<div id = 'display'>
			<p id="msg"></p>
			<h2>Find More Friends <%=username%></h2>
			<h3>Who would you like to follow?</h3>
			<form name = "FollowOptions" method="post">
			<%for(var i = 0; i< allOptions.length; i++){%>
				<li><button type="submit" name="follow" id = "follow" value = "<%=allOptions[i].uid%>"> <%=allOptions[i].username%></button></li>
				<%}%>
		</form>
		</div>
	</body>
</html>
